.App {
  border: 1px solid #999;
  margin-left: 20px; 
  width: 1000px;
  position: absolute;
} 

button.ButtonLabel{
  position: relative;
  margin: 20px;  
  float: left;  
}

.PopUpAddTask{ 
  position: relative;
  left: 25%; /* Положение слоя от левого края */
  top: 50%; /* Положение слоя от верхнего края */
  background-color: white;
  border: 1px solid #999;
  width: 400px;
  padding: 10px;
  margin: 10px;
  text-align: left;
  font-size: 14px; 
}

.InputTime, .InputDescription{
  position: relative;
  width: 380px;
  padding: 0px; 
}

label {
  position: relative;
  margin-right: 10px;
}

.DDPriority, .DDStatus{
  position: relative;
  float: left;
  margin: 10px;  
}

.SaveButton{
  position: relative;
  float: right;
  margin-top: 10px;
}

.SearchField {
  float: left;
  position: relative;
  margin: 20px;
  text-align: right;
} 

 
.FiltrPanel {
  position: relative;
  width: 960px;
  height: 25px;
  margin-left: 20px;
  margin-right: 20px; 
}
 
h1 {
  margin-left: 1%;
  margin-top: 0.5%;  
  font-size: 14px;
}

Table.TaskTable.table.table-bordered{ 
  font-family: Tahoma;
  font-size: 10pt;    
  left: 20px;  
  width: 960px;
  position: relative;
}
 
