.App {
  border: 1px solid #999;
  margin-left: 20px; 
  width: 1000px;
  position: absolute;
} 

.LabelButton{
  position: relative;
  margin: 20px;  
  float: left;  
  border: none;
}

.AddTaskButton{
  position: relative;
  margin: 20px;  
  float: left;   
}

.SaveButton{
  float: left;
  margin-top: 10px;
  width: min-content;
}

.AddTaskPopUp{ 
  font-size: 14px;
}

.TimeInput, .DescriptionInput{
  padding: 0px; 
  width: 100%;
}

.Status{
  float: r
}

.InputLabel{
  text-align: left;
  width: 100%
}

.SelectLabel {
  text-align: left;
  margin-right: 10px;
}

.PriorityDD, .StatusDD{
  margin: 10px 10px 10px 0px;  
  display: inline-block;      
}

.StatusSelect, .PrioritySelect{
  float: right;
}


.SearchField {
  float: left;
  position: relative;
  margin: 20px;
  text-align: right;
} 

 
.FiltrPanel {
  position: relative;
  width: 960px;
  height: 25px;
  margin-left: 20px;
  margin-right: 20px; 
}
 
h1 {
  margin-left: 1%;
  margin-top: 0.5%;  
  font-size: 14px;
}

Table.TaskTable.table.table-bordered{ 
  font-family: Tahoma;
  font-size: 10pt;    
  left: 20px;  
  width: 960px;
  position: relative;
}
 
